<!-- <!-- <app-header></app-header>
<div class="background-image">
    <div class="container mt-5">
      <h2 class="text-center mb-4 text-light">Book Store</h2>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let book of books">
          <div class="card border-0 shadow">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text"><strong>Id : </strong>{{book.id}}</p>
              <p class="card-text"><strong>Author:</strong> {{ book.authorName }}</p>
              <p class="card-text"><strong>Genre:</strong> {{ book.genre }}</p>
              <p class="card-text"><strong>Year:</strong> {{ book.year }}</p>
              <p class="card-text"><strong>Price:</strong> {{ book.price }}</p>
              <p class="card-text"><strong>Stock Available:</strong> {{ book.stockAvailable }}</p>
              <button class="btn btn-primary btn-block" (click)="addToCart(book.id,15)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

<app-header></app-header>

   <div class="background-image">
    <div class="container mt-5">
      <h2 class="text-center mb-4 text-light">Book Store</h2>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let book of books">
          <div class="card border-0 shadow">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <!-- <p class="card-text"><strong>Id : </strong>{{book.id}}</p> -->
              <p class="card-text"><strong>Author:</strong> {{ book.authorName }}</p>
              <p class="card-text"><strong>Genre:</strong> {{ book.genre }}</p>
              <p class="card-text"><strong>Year:</strong> {{ book.year }}</p>
              <p class="card-text"><strong>Price:</strong> {{ book.price }}</p>
              <p class="card-text"><strong>Stock Available:</strong> {{ book.stockAvailable }}</p>
              <label for="quantity"><strong>Quantity :</strong></label>
              <input type="number" id="quantity" [(ngModel)]="cartDTO.quantity" min="1" max="{{ book.stockAvailable }}" class="form-control mb-2" />
              <button class="btn btn-primary btn-block" (click)="addToCart(cartDTO.quantity, book.id)">Add to Cart</button>
            </div>
          </div>
        </div>
    </div>
  </div> 