


<app-adminheader></app-adminheader>
<div class="container">
  <h2>Update Book</h2>
  <form (ngSubmit)="updateBook()">
    <div class="form-group">
      <label>Id:</label>
      <input type="number" disabled [(ngModel)]="books.id" name="id" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" [(ngModel)]="books.title" name="title" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Author Name:</label>
      <input type="text" [(ngModel)]="books.authorName" name="authorName" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Genre:</label>
      <input type="text" [(ngModel)]="books.genre" name="genre" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Year:</label>
      <input type="number" [(ngModel)]="books.year" name="year" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Price:</label>
      <input type="number" [(ngModel)]="books.price" name="price" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Stock Available:</label>
      <input type="number" [(ngModel)]="books.stockAvailable" name="stockAvailable" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Update Book</button>
  </form>
</div>