<!-- 
<app-header></app-header>


<h1 class="text-primary">Welcome to Online Book Store!</h1> -->


    

<app-header></app-header>

<div class="home-page-container">
  <div class="quote-container">
    <h1 class="text-primary">Welcome to Online Book Store!</h1>

    <blockquote class="quote">
      "There is no friend as loyal as a book." - Ernest Hemingway
    </blockquote>

    <blockquote class="quote">
      "Reading is the key that opens all the doors to the world's knowledge and power." - Solomon Ibn Gabirol
    </blockquote>
  </div>

  <div class="image-container">
    <img src="assets/images/pexels-cottonbro-4865742.jpg" alt="Bookstore Image" class="bookstore-image">
  </div>
</div>